
body {
  background-color: #d2e6fc;
  color:#00438a;
  font-size: 16px;
}

#site-content {
  width: clamp(300px, 530px, 100%);
  margin: auto;
  text-align: start;
  background: linear-gradient(to right,
  rgba(255,255,255,0) 0%, rgba(233, 241, 250, 1) .5%,
  rgba(233, 241, 250, 1) 99.5%, rgba(255,255,255,0) 100%);
}

#site-header {
  text-align: center;
}

#streetselectinfo {
  text-align: center;
  font-size: 13.5px;
}

/* Required to overlay address autocomplete on top of map */
#map-autofill {
  position: relative;
}

#map {
  border-radius: 0.375rem;
  margin: auto;
  position: relative;
  z-index:10;
  width: 100%;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.001);
}

#autocomplete-wrapper {
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 3px;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

/* Make the submit button always take up 100% of space available,
 so it's not just hanging out by itself */
#submit {
  width: 100%;
}

.col {
  flex: 1 0 150px;
}

/* Makes input fields wrap around when viewport is small (mobile) */
.row g-1 {
  flex-wrap: wrap;
}

#autocomplete {
  width: 99%;
}

.leaflet-container {
  font-size: 10px;
}

.geoapify-autocomplete-input {
  border-radius: 0.375rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  font-size: 16px;
}


