<!-- A template for the homepage of the website -->

{% extends "layout.html" %}
{% block title %}Ar Aris{% endblock %}
{% block head %}
    <!-- Get Geoapify and Leaflet CSS and JS via CDN -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@geoapify/geocoder-autocomplete@1.4.0/styles/minimal.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>
    <script src="https://unpkg.com/@geoapify/geocoder-autocomplete@1.4.0/dist/index.min.js"></script>
    <!-- Add rest of code from template to head with below Jinja command -->
    {{ super() }}
{% endblock %}
{% block main %}
    <div >
        <h1 id="site-header">
            Ar Aris
        </h1>
        <p> Power and water cuts can be really frustrating, and not getting advance warning or not knowing how long they'll last is even more so.
            <br>Register below to be notified of any utility disruptions that affect your street.
        </p>
        <!-- TODO: make the fucking collumns all fit on one line! -->
        <!-- A form to gather user's email, name, district, and address -->
        <form action="/" id="registration-form" name="newuserform" method="POST">
            <div id="streetselectinfo">
                <b>Please type in the name of your street, then select it from the available options</b>
            </div>
            <div id="map-autofill">
                <div id="autocomplete-wrapper">
                    <div id="autocomplete" name="autocomplete"></div>
                </div>
                <div id="map"></div>
            </div>
            <div class="row g-1">
                <input type="hidden" id="address" name="address">
                <div class="col">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                  </div>
                <div class="col">
                    <select class="form-select" aria-label=".form-select-sm example" id="district" name="district">
                        <option selected>District</option>
                        <option value="Chugureti">Chugureti</option>
                        <option value="Didube">Didube</option>
                        <option value="Gldani">Gldani</option>
                        <option value="Isani">Isani</option>
                        <option value="Krtsanisi">Krtsanisi</option>
                        <option value="Mtatsminda">Mtatsminda</option>
                        <option value="Nadzaladevi">Nadzaladevi</option>
                        <option value="Saburtalo">Saburtalo</option>
                        <option value="Samgori">Samgori</option>
                        <option value="Vake">Vake</option>
                    </select>
                </div>
                <div class="col">
                    <button id="submit" type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
        <p>
            <br><br>
            If you don't recieve a notification when you should have, or recieve a notification
            in error, please <a href="mailto:chocoiswild@gmail.com">contact me.</a>
        </p>
    </div>
    <!-- Include JS code to run the Leaflet map and Geoapify address searcher -->
    <script type="text/javascript" 
        src="{{ url_for('static', filename = 'scripts.js') }}"></script>
{% endblock %}
